# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/modules.xml
/templateLanguages.xml
/vcs.xml
/tailwindcss.xml
/jsLibraryMappings.xml
/marvynLevinPortfolio.iml
